.container {
  height: 520px;
  width: 380px;
  margin: auto;
  margin-top: 10px;
}

.divide {
  margin-left: 10px;
  font-size: 14px;
}

.divide1 {
  display: block;
  margin-left: 20px;
  font-weight: bold;
}

.divide2 {
  display: block;
  text-align: right;
  margin-top: -40px;
  font-size: 12px;
  font-weight: bold;
}

.box.expanded {
  margin-bottom: 20px;
  border-bottom: -200px;
}
.divide1 {
  padding-left: 16px;
  font-size: 12px;
}
.newdivide {
  margin-top: -15px;
}
.extradiv {
  color: green;
  font-size: 10px;
  margin-left: 200px;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background-color: hsl(120, 14%, 99%);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-align: left;
  border: 2px solid rgb(123, 126, 123);
  border-radius: 5px;
}

.box.expanded {
  background-color: #e3f5e9;
  height: 200px;
  border-color: green;
}

input[type="radio"] {
  accent-color: green;
}
.sections {
  display: none;
  margin-top: 10px;
}

.box.active .sections {
  display: block;
}
.options {
  display: none;
  margin-top: 20px;
}

.box.expanded .options {
  display: block;
}
.sec {
  display: block;
}
.colorsection {
  display: inline-block;
  font-size: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.sizesection {
  display: inline-block;
  font-size: 10px;
  margin-left: 35px;
  margin-top: 10px;
}
.selectbox {
  display: block;
  margin-top: 10px;
}
.small {
  font-size: 12px;
  padding: 10px;
}

.medium {
  font-size: 16px;
  padding: 20px;
}

.large {
  font-size: 20px;
  padding: 30px;
}

.para {
  font-size: 14px;
  color: green;
  display: flex;
}
.extradata {
  display: flex;
}
.para2 {
  font-size: 14px;
  margin-left: 140px;
}
.para3 {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  font-style: italic;
  font-size: 10px;
  text-align: right;
}

.btn {
  color: #e3f5e9;
  background-color: green;
  border: 2px solid green;
  height: 40px;
  width: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h4::before, h4::after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgb(31, 30, 30);
  margin: auto;
}
.line-heading {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 30px 0;
      color: green;
      font-size: 14px;
      font-weight: bold;
    }

    .line-heading::before,
    .line-heading::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #bababa;
    }

    .line-heading::before {
      margin-right: 15px;
    }

    .line-heading::after {
      margin-left: 15px;
    }

  