.container{
 height: 500px;
 width: 400px;
 margin: auto;
 margin-top: -50px;
}

.divide{
    margin-left: 10px;
}

.divide1{
     display: block;
    margin-left: 20px;
}

.divide2{
    display: block;
    text-align: right;
    margin-top: -40px;
}
h4{
    color: rgb(52, 129, 64);
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}

.divide1{
    padding-left: 16px;
}
.newdivide{
    margin-top: -15px;
}
.extradiv{
    color: green;
    font-size: 10px;
    margin-left: 210px;
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  background-color: hsl(120, 14%, 99%);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-align: left;
  border: 2px solid rgb(123, 126, 123);
  border-radius: 5px;
}

.box.expanded {
  background-color: #e3f5e9;
  height: 200px;
  border-color: green;
  
}

 input[type="radio"] {
accent-color: green;
 }
  .sections {
    display: none;
    margin-top: 10px;
  }

  .box.active .sections {
    display: block;
  }
.options {
  display: none;
  margin-top: 20px;
}

.box.expanded .options {
  display: block;
}

.small {
  font-size: 12px;
  padding: 10px;
}

.medium {
  font-size: 16px;
  padding: 20px;
}

.large {
  font-size: 20px;
  padding: 30px;
}